@{   
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8" />
    <title>电梯远程监控系统 - Login</title>
     <link rel="stylesheet" type="text/css" href="~/Scripts/jquery-easyui-1.4.1/themes/Gray/easyui.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/jquery-easyui-1.4.1/themes/icon.css">
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-easyui-1.4.1/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-easyui-1.4.1/locale/easyui-lang-zh_CN.js"></script>    
</head>
<body>
    <div style="text-align:center;"> 
        <img src="~/Images/bg.png" style="margin-top: 3px">
    </div>
    <div style="text-align:center;vertical-align:bottom;"><span style='font-family:Times New Roman;font-size:12px;'>版权所有 Copyright(C)2016上海孚奈电子有限公司</span></div>
</body>
</html>
